/Ejemplogit/nbproject/private/
/Practica14Ej3/nbproject/private/
/Practica14Ej4/nbproject/private/
/Practica14Ej5/nbproject/private/
/Practico14EJ6/nbproject/private/
/Practica14Ej7/nbproject/private/
/Practico14EJ6/build/
/Practica14Ej7/build/
/Practica14Ej8/nbproject/private/
/Practica14Ej8/build/
/Practica14Ej9/nbproject/private/
/Practica14Ej9/build/
/Practica14Ej10/nbproject/private/
/Practica11/nbproject/private/
/practica11/nbproject/private/
/Practica_12_GITHUB/nbproject/private/
/Practica12_2/nbproject/private/